#  
#  
# SQLITE

In [1]:
import sqlite3

Se crea una conexion a la base de datos

In [2]:
conn= sqlite3.connect('test.db')

Se hace un cursor que navergara en la connexion

In [3]:
cursor = conn.cursor()

en cursor se execute una instruccion de sql,
y se hace commit, para mandarla a la conexion

In [4]:
sql = """CREATE TABLE EMPLOYEE(
        FIRST_NAME CHAR(20) NOT NULL,
        LAST_NAME CHAR(20),
        AGE INT NOT NULL,
        SEX CHAR(1),
        INCOME FLOAT
        )"""
cursor.execute(sql)
conn.commit()

In [ ]:
# INSERT
sql_insert = """INSERT INTO TABLE_NAME (col1, col2, col3)
                VALUES(val1,val2,val3)"""
cursor.excecute(sql_insert)
# an cursor, excecute is required always after the insert

In [ ]:
# READ
sql_read = """SELECT col1, col2, col3 FROM table_name"""

#Again, all sql instructions are sent to the cursor, 
# and there are 3 methods, fetch_one, fetch_all, fetch_many.
# It should be used for the read sql from the cursor
cursor.execute(sql_read)
result = cursor.fetchall()

In [ ]:
#UPDATE
sql_update = """UPDATE TABLE_NAME SET AGE=AGE+1 WHERE SEX = 'M'"""
cursor.execute(sql_update)

In [ ]:
# DELETE
sql_delete= """DELETE FROM TABLE_NAME WHERE AGE>25"""
cursor.execute(sql_delete)

#  
#  
# MONGODB

In [5]:
import pymongo
from pymongo import MongoClient

Create a mongoclient client, and the database is setted directly to the client. with the format of client.db_name

In [6]:
client = MongoClient()
db = client.test

To create a table within the database, is required to use the previously created database, and assign the table to it. just as before.  
and to consume it later, it is possible to store in an object

In [7]:
employee = db.employee

In [8]:
# INSERT
employee_details = {'Name': 'Raj', 'Address':'123 fake street', 'Age':'42'}

result = employee.insert_one(employee_details)

The result contains an InsertOneResult, wichi is an id of the document, if not specified, then an auto id is assigned

In [9]:
print(result)

<pymongo.results.InsertOneResult object at 0x7f9f3b267400>

In [12]:
list_of_dicts = [
{"_id":1,"name":"John","address":"Highway 37"},
{"_id":2,"name":"Peter","address":"Lowstreet 27"},
{"_id":3,"name":"Amy","address":"Close st 652"},
{"_id":4,"name":"Hannah","address":"Mountain 21"},
{"_id":5,"name":"Michael","address":"Valley 345"},
{"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
{"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
{"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
{"_id":9,"name": "Viola", "address": "Sideway Ave"}
]

x = employee.insert_many(list_of_dicts)

In [13]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [14]:

dblist = client.list_database_names()
if "test" in dblist:
    print('the {} exists'.format('test'))

the test exists

A database is not created until it receives content, fill it before check if it exists

In [15]:
# Collection exitst
print(db.list_collection_names())
colls = db.list_collection_names()
for n in colls:
    print(n,"exists")

['employee']
employee exists

Same as databse, a collection is not created until it has rceived some information

In [16]:
# read one collection
x = employee.find_one()
print(x)

{'_id': ObjectId('64beeb7514e35ddb8aa764f0'), 'Name': 'Raj', 'Address': '123 fake street', 'Age': '42'}

In [18]:
# read all collections
for x in employee.find():
    print(x)

{'_id': ObjectId('64beeb7514e35ddb8aa764f0'), 'Name': 'Raj', 'Address': '123 fake street', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [19]:
# read an amount of documents
for x in employee.find().limit(5):
    print(x)

{'_id': ObjectId('64beeb7514e35ddb8aa764f0'), 'Name': 'Raj', 'Address': '123 fake street', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}