# Inclass activity
## Ivan Zepeda 
C0883949

In [1]:
import pymongo
from pymongo import MongoClient
# Run mongo server: 
# brew services start mongodb-community@6.0

In [2]:
client = MongoClient()

In [3]:
db = client.test

In [4]:
employee = db.employee

In [5]:
employee_details = {
    'Name':"Raj Kumar",
    "Address":"Sears Street , NZ",
    "Age":"42"
}

result = employee.insert_one(employee_details)

In [6]:
print(result.inserted_id)

647e6936fef1d7414af8aa78

In [7]:
mylist = [{"_id":11,"name":"John","address":"Highway 37"},
          {"_id":12,"name":"Peter","address":"Lowstreet 27"},
          {"_id":13,"name":"Amy","address": "Close st 652"},
          {"_id":14,"name":"Hannah","address":"Mountain 21"},
          {"_id":15,"name":"Michael","address":"Valley 345"},
          {"_id":16,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":17,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":18,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":19,"name": "Viola", "address": "Sideway Ave"}]

In [8]:
x = employee.insert_many(mylist)

# In the list the id is already provided, and defined
# when it is not defined, the id, tends to be unique
print(x.inserted_ids)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
print(type(client.list_database_names))
print(client.list_database_names)
print(client.list_database_names())

<class 'method'>
<bound method MongoClient.list_database_names of MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)>
['admin', 'config', 'local', 'test']

In [12]:
dblist = client.list_database_names()
if 'test' in dblist:
    print(f"The 'test' exists")

The 'test' exists

## Check if collection exists

In [14]:
print(db.list_collection_names())

['employee', 'test.employee']

In [16]:
collist = db.list_collection_names()
if 'test' in collist:
    print('The employee collection exists')

**Read one record**

In [18]:
x = employee.find_one()
print(x)

{'_id': ObjectId('647e6936fef1d7414af8aa78'), 'Name': 'Raj Kumar', 'Address': 'Sears Street , NZ', 'Age': '42'}

In [19]:
for x in employee.find():
    print(x)

{'_id': ObjectId('647e6936fef1d7414af8aa78'), 'Name': 'Raj Kumar', 'Address': 'Sears Street , NZ', 'Age': '42'}
{'_id': 11, 'name': 'John', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 13, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 14, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 15, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 17, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 19, 'name': 'Viola', 'address': 'Sideway Ave'}

In [20]:
myresults = employee.find().limit(5)
for x in myresults:
    print(x)

{'_id': ObjectId('647e6936fef1d7414af8aa78'), 'Name': 'Raj Kumar', 'Address': 'Sears Street , NZ', 'Age': '42'}
{'_id': 11, 'name': 'John', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 13, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 14, 'name': 'Hannah', 'address': 'Mountain 21'}

In [22]:
# Another method is to use slice, although it will fetch all itens, and take time.
myresults = employee.find()
for x in myresults[:5]:
    print(x)
    
# Another time is a while i < 5

{'_id': ObjectId('647e6936fef1d7414af8aa78'), 'Name': 'Raj Kumar', 'Address': 'Sears Street , NZ', 'Age': '42'}
{'_id': 11, 'name': 'John', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 13, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 14, 'name': 'Hannah', 'address': 'Mountain 21'}

## Return Only Some Fields (pp 29)
First parameter is th edocument to getch info, or empty from all  
Second paramenter is object describing the fields to include in the result. parameter is optional, if ommited all fileds will be included

0 means DO NOT include , while
1 means to INCLUDE

In [23]:
for x in employee.find({}, {'_id':0, "name":1,"address":1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [33]:
#Print all fields except Age
for x in employee.find({}, {'Age':0}):
    print(x)

{'_id': ObjectId('647e6936fef1d7414af8aa78'), 'Name': 'Raj Kumar', 'Address': 'Sears Street , NZ'}
{'_id': 11, 'name': 'John', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 13, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 14, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 15, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 17, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 19, 'name': 'Viola', 'address': 'Sideway Ave'}

## Advanced MongoDB Query
to use conditions it will be a new dic object, with the wildcard $  
be aware that commands needs to be included within a doublequotes

In [39]:
myquery = {'address': 'Highway 37', "_id":{"$lt":5}}

mydoc = employee.find(myquery).limit(2)
for x in mydoc:
    print(x)

In [34]:
myquery = {'address':{'$regex':"^V"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 15, 'name': 'Michael', 'address': 'Valley 345'}

In [35]:
# find all records having lettel l intheir address

myquery= {'address':{'$regex':'\w+l\w'}}
mydoc = employee.find(myquery).limit(2)
for x in mydoc:
    print(x)

{'_id': 13, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 15, 'name': 'Michael', 'address': 'Valley 345'}

### Operator OR
this operator joins query clouses with a logical OR . This returns all documents that mathc conditions of either clause

In [37]:
# print documents where address starts with S or Y

myquery = {"$or": [
    {"address":{"$regex":"^Y"}},
    {'address':{"$regex":"^S"}}
                  ]}

mydoc = employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 17, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 19, 'name': 'Viola', 'address': 'Sideway Ave'}

In [38]:
myquery = {"address":{"$regex":"^S|^Y"}}
mydoc = employee.find(myquery)
for c in mydoc:
    print(c)

{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 17, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 19, 'name': 'Viola', 'address': 'Sideway Ave'}

In [42]:
myquery = { "_id":{"$gt":5}}

mydoc = employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 11, 'name': 'John', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 13, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 14, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 15, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 17, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 19, 'name': 'Viola', 'address': 'Sideway Ave'}

In [43]:
myquery =  {"$and": [
    {"address":{"$regex":"^Y"}},
    {'address':{"$regex":"1"}}
]}
mydoc = employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [46]:
myquery =  {"$and": [
    {"address":{"$regex":"^Y"}},
    {'address':{"$regex":"1"}},
    {'name':{'$regex':'^N'}}
]}
mydoc = employee.find(myquery)
for x in mydoc:
    print(x)

In [50]:
myquery =  {"$and": [
    {"address":{"$regex":"^Y"}},
    {'address':{"$regex":"1"}},    
    ],
     "$or":[
         {'name':{'$regex':'^N'}},
         {'address':{"$regex":"1"}}]
           }
mydoc = employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

# Not Equal

In [51]:
myquery = {'$and':[
    {'address':{'$regex':'^Y'}},
    {'address':{'$regex':"1"}},
    {'name': {'$ne':'Nicky'}}
]}
mydoc = employee.find(myquery)
for c in mydoc:
    print(c)

{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [61]:
myquery = {'$and':[
    {'address':{'$regex':'^Y'}},
    {'address':{'$regex':"1"}},
    {'name': {'$ne':{'$regex':'^V'}}}
#     {'name': {'$ne':{'$regex':'^N'}}}
]}
mydoc = employee.find(myquery)
for c in mydoc:
    print(c)

{'_id': 16, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 18, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

# important~
why is prvious code bringing Nancy, as I stated no names starting with N

## Greater than

In [ ]:
myquery= {"address":{"$gt":"S"}} #where string starts with S or with a higher than S